

/* Media queries for login page */

@media (max-width : 992px) {
    .login{
        margin-left: 0%;
        width: 100%;
        height: auto;
        
    }

   

    body{
        background-image: none;
       
    }
}

