*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
    
}

 



a{
    margin-left: 270px;
    font-size: 1.2em;
    color: rgb(78, 58, 58);
    
}




h1{
    font-size: 3em;
}

p{
    font-size: 1.1em;
}

   





